
:root {
	/* color variables */
	--white: #fff;
	--black: #000;
	--black-border: #232424;
	--surface: #0b0b0b;
	--green: #208622;
	--blue: #a5b4fc;
	--placeholder: #9c9c9c;
	--purple-hover: #6366f1;
	--purple: #9349df;
	--yellow: #fdad53;
	--orange: #fa4925;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

* {
	--min-screen-size: 430;
	--max-screen-size: 1440;
	--interpolate-diff: calc(var(--max-font-size) - var(--min-font-size));
	--interpolate: clamp(calc(var(--min-font-size) * 1px), calc((var(--min-font-size) * 1px) + var(--interpolate-diff) * ((100vw - calc(var(--min-screen-size) * 1px)) / (var(--max-screen-size) - var(--min-screen-size)))), calc(var(--max-font-size) * 1px));
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.subtitle-white {
	color: var(--white);
	--min-font-size: 22; --max-font-size: 35.85; font-size: var(--interpolate);
	font-weight: 400;
	line-height: 1.278;
	letter-spacing: -0.66px;
}

.sub-text-white2 {
	color: #fff;
}

.sub-text-green {
	color: var(--green);
}

.sub-text-white {
	color: var(--white);
}



/* section utility classes */

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 24px;
}

.section-black {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #000;
	padding: 0 82px;
}



/* ui objects utility classes */

.group1 {
	display: flex;
	align-items: center;
	padding: 19px 20px 20px 20px;
	border-top: 1px solid var(--black-border);
}

.card1 {
	width: 75px; height: 75px;
	background-color: var(--surface);
	padding: 11px;
	border: 1px solid var(--black-border);
	border-radius: 3.2px;
}

.card2 {
	height: 51px;
	border-radius: 5.6px;
}

.group2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 16px;
}

.card5 {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 23px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.card4 {
	width: 75px; height: 75px;
	background-color: var(--surface);
	padding: 0 9px;
	border: 1px solid var(--black-border);
	border-radius: 3.2px;
}

.card3 {
	width: 75px;
	background-color: var(--surface);
	border: 1px solid var(--black-border);
	border-radius: 3.2px;
}



/* button hover utility classes */

.hover-dark:hover {
	filter: brightness(0.85);
}

.hover-bright:hover {
	filter: brightness(1.2);
}
